@import "../../core";

.appHeader {
  background: $brandBlue;
  display: flex;
}

.logo {
  flex: 1;
}

.profile {
  align-self: flex-end;
  line-height: 30px;

}

.avatar {
  width: 30px;
  height: 30px;
  border-radius: 15px;
}