@import '../../core';

.button {
  position: relative; // contain ripple
  overflow: hidden;
  display: inline-block;
  padding: ($unit + 2px) ($unit-x2 + 2px);
  line-height: $unit-x2;
  text-decoration: none;
  border-radius: 3px;
  vertical-align: middle;
  text-align: center;

  > * + * {
    margin-left: $unit / 2;
  }
}

.buttonShadow {
  transition: box-shadow 0.1s;
  @include shadow();

  &:hover {
    @include shadow-2();
  }
}

.default {
  composes: button buttonShadow;
  background-color: white;
  color: black;
}

.primary {
  composes: button buttonShadow;
  background-color: $brandBlue;
  color: white;
}

.flat {
  composes: button;
  color: $dimGray;
}

.action {
  composes: button buttonShadow;
  padding: $unit;
  color: $dimGray;
}

.nav {
  composes: button;
  color: white;
  border-radius: 0;
  padding: ($unit + 2px) ($unit);
  margin-left: $unit;
  border-left: 1px solid white;
  @include md {
    padding: ($unit + 2px) ($unit-x2 + 2px);
    margin-left: $unit-x2 + 2px;
  }

  &:last-child {
    padding-right: 0;
  }
}

.wrapper {
  display: block;
  width: 100%;
  position: relative; // contain ripple
  overflow: hidden;

  &:focus {
    outline: none;
  }
}
