// sass meta only, don't emit any actual css from this file

// colors
$brandBlue: #168FC0;
$lightBlue: #E9F9FF;
$gray: #4A4A4A;
$dimGray: #9B9B9B;
$lightGray: #E0E0E0;
$accentWhite: #F9F9F9;

// fonts
$fontsize-normal: 14px;
$fontsize-large: 16px;
$fontsize-xlarge: 30px;
$fontsize-xxlarge: 60px;

// measures
$unit: 8px;
$unit-x2: $unit * 2;
$unit-x3: $unit * 3;
$unit-x4: $unit * 4;
$unit-x6: $unit * 6;

$containerSizeXs: 100%;
$containerSizeSm: 420px;
$containerSizeMd: 720px;
$containerSizeLg: 960px;

$breakpointPad: 10px;

@mixin sm {
  @media only screen and (min-width: ($containerSizeSm + $breakpointPad)) {
    @content;
  }
}

@mixin md {
  @media only screen and (min-width: ($containerSizeMd + $breakpointPad)) {
    @content;
  }
}

@mixin lg {
  @media only screen and (min-width: ($containerSizeLg + $breakpointPad)) {
    @content;
  }
}

@mixin shadow {
  box-shadow: 0 1px 3px rgba(black, 0.12), 0 1px 2px rgba(black, 0.24);
}

@mixin shadow-2 {
  box-shadow: 0 3px 6px rgba(black, 0.16), 0 3px 6px rgba(black, 0.23);
}

@mixin shadow-3 {
  box-shadow: 0 10px 20px rgba(black, 0.19), 0 6px 6px rgba(black, 0.23);
}
