@import '../../core';

body {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

:global(#app) {
  font-family: Lato, sans-serif;
  height: 100%;
}

.container {
  height: 100%;
  font-size: $fontsize-normal;
  display: flex;
  flex-direction: column;
}

.page {
  flex: 1;
}
