@import '../../core';

.order {
  background: white;
  @include shadow;
  @include md {
    border-radius: 4px;
  }
}

.order + .order {
  margin-top: 16px;
}

.topFrame {
  font-weight: bold;

  > * {
    padding-top: $unit;
    padding-bottom: $unit;
    margin: $unit 0;

    + * {
      box-shadow: -1px 0 $lightGray;
    }
  }
}

.priceWrap {
  display: flex;
  align-items: center;
}

.priceText {
  display: block;
  flex: 1;
}

.chevron {
  font-size: $unit-x3;
  margin: -$unit 0;
}

.details {
  border-top: 1px solid $lightGray;
  padding: $unit-x2 0;
}

.mealsHeader {
  color: $dimGray;
}

.detailsTop {
  padding: 0 $unit-x2;
  display: flex;
  align-items: stretch;
  flex-direction: column-reverse;

  > * + * {
    margin-bottom: $unit;
  }
  @include sm {
    align-items: center;
    flex-direction: row;

    > * + * {
      margin-bottom: 0;
      margin-left: $unit;
    }
  }
}

.detailsTop + .mealsHeader {
  margin-top: $unit-x4;
}

.statusText {
  flex: 1;
  text-align: right;
  color: $dimGray;
  display: none;
  @include sm {
    display: block;
  }
}
