@import '../../core';

.meal {
  padding: $unit-x2 0;
  align-items: center;
}

.meal:nth-child(2n) {
  background-color: $accentWhite;
}

.priceWrap {
  display: flex;
  align-items: center;
}

.priceText {
  flex: 1;
}
